@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <img  style="width:100%" src="~/images/staff_1024(1).jpg" />
       @* <img style="width:100%" src="~/images/staff_1024.jpg" />*@
    </div>
</body>
</html>
